<li [ngClass]="{'weekly-true': weekly }" class="col-day-weekly">
  <h3 class="col-xs-12 text-center" >{{day.day.getDate()}}</h3>
  <h4 class="col-xs-12 text-center">{{getDayString(day.day.getDay())}}</h4>
  <div class="single-room col-xs-12" (click)="day.single.selected = !day.single.selected"  [style.background-color]="day.single.selected ? 'rgba(36, 232, 160, 0.87)' : null">
    Single: <br>
    {{day.single.price}} <br>
  </div>
  <div class="double-room col-xs-12" (click)="day.double.selected = !day.double.selected" [style.background-color]="day.double.selected ? 'rgba(192, 129, 224, 0.9)' : null" >
    Double: <br>
    {{day.double.price}} <br>
  </div>
</li>
