/* You can add global styles to this file,
and also import other style files */
@import './bootstrap/css/bootstrap.css';
@import './bootstrap/css/bootstrap-theme.css';

.one-space {
	height: 80px;
}

.spacer-one {
	height: 1em;
}

.loading .maskedCircle {
	width: 40px;
	height: 40px;
	border-radius: 24px;
	border: 3px solid #3e3535;
}

.loading .mask {
	width: 24px;
	height: 24px;
	overflow: hidden;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* Spinner */
.loading .spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 52px;
	height: 52px;
	animation: spin 1s infinite linear;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 56px;
	height: 56px;
	margin: -28px 0 0 -28px;
}

.slider-menu {
  position: relative;
	overflow-y: hidden;
  overflow-x: hidden;
	max-height: 550px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.ul-weekly-true{
  width: 2000%;
}

.ul-weekly-false{
  width: 100%;
}

.slider.closed {
	max-height: 0;
}

.c-hand {
  cursor: pointer;
}

.col-day-weekly {
  height: 100%;
  width: 13%;
  margin: 0.5em;
  float: left;
  list-style-type: none;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
  border-style: outset;
}

.weekly-true{
  width: 0.7%
}

#calendar {
  overflow: auto;
}

.single-room {
  background-color: rgba(186, 198, 214, 0.29);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: thin;
  border-color: rgba(66, 93, 66, 0.77);
  border-style: solid;
}

.single-room:hover {
  background-color: rgba(186, 198, 214, 0.8);
}

.double-room {
  background-color: rgba(187, 166, 177, 0.18);
}

.double-room:hover {
  background-color: rgba(160, 166, 177, 0.8);
}

.no-padding {
  padding: 0px;
}

.left-pad {
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.right-pad {
	padding-right: 2px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.full-screen-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html body .half-em-margin-top{
  margin-top: 0.5em;
}

html body .full-em-margin-top{
  margin-top: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 2.5rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #88c788;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 25%;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(250%);
  -ms-transform: translateX(250%);
  transform: translateX(250%);
}

@media (max-width: 699px) and (max-height: 800px) {
  .switch{
    display: none;
  }
  .slider{
    display: none;
  }
  input.invisible {
    display: block;
  }

  .col-day-weekly {
    height: 100%;
    width: 12%;
    margin: 0.5em;
    float: left;
    list-style-type: none;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    border-style: outset;
  }

  .weekly-true{
    width: 2%
  }

  .ul-weekly-false{
    width: 400%;
  }

}

@media (min-width: 700px) and (min-height: 300px) and (max-width: 1000px) {
  .tablet-font {
		font-size: 1rem;
	}
  h4 {
    font-size: 1rem;
  }

  .switch {
    margin-top: 0.5em;
    height: 1rem;
  }

  .slider:before {
    width: 20%;
		height: 50%;
    bottom: 0.2em;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(225%);
    -ms-transform: translateX(225%);
    transform: translateX(225%);
  }

}

#previous-month, #next-month{
  margin-top: 1.5em;
}

#previous-month:hover, #next-month:hover{
  color: orange;
}

@media (min-width: 1000px) and (min-height: 400px) {
  .slider:before {
    width: 25%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(240%);
    -ms-transform: translateX(240%);
    transform: translateX(240%);
  }
}

@media (min-width: 2500px) and (min-height: 400px) {

  .col-4k-1 {
      width: 8.33333333%;
  }

  .col-4k-2 {
      width: 16%;
  }

  .col-4k-3 {
      width: 24%;
  }

  .col-4k-2 {
      width: 32%;
  }

  .slider:before {
    width: 25%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(300%);
    -ms-transform: translateX(300%);
    transform: translateX(300%);
  }
}





/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input.invisible {
  display: none;
}
