  <div id="title" class="row panel">
    <h3 class="col-md-2 col-xs-4">Bulk Operations</h3>
    <button class="col-md-1 col-xs-2 btn btn-default full-em-margin-top" (click)="showBulkEdit = !showBulkEdit">{{showBulkEdit ? "-" : "+"  }}</button>
  </div>
  <div class="slider-menu" id="bulk-edit" [style.max-height]="showBulkEdit ? '500px' : '0px'">
  <form>
    <div id="select_room" class="row panel">
      <h4 class="col-md-1 col-xs-3">Select Room:  </h4>
      <select name="roomType" (change)="select_days()" [(ngModel)]="roomType" class="select col-md-2 col-xs-6 full-em-margin-top">
        <option value="single">Single Room</option>
        <option value="double">Double Room</option>
      </select>
    </div>
    <div id="select_days" class="row panel">
      <h4 class="col-md-1 col-xs-2">Select Days:</h4>
      <div id="select_days_date_inputs" class="col-md-6 col-xs-10">
        <label class="col-xs-6 half-em-margin-top"> From:
          <input [style.border-color]="getErrors('select-from') ? 'red': null" (change)="select_days()"  [(ngModel)]="selectDateRange.from" name="dateFrom" type="date" class="form-control" />
        </label>
        <label class="col-xs-6 half-em-margin-top"> To:
          <input [style.border-color]="getErrors('select-from') ? 'red': null" (change)="select_days()" [(ngModel)]="selectDateRange.to" name="dateTo" type="date" class="form-control"  />
        </label>
      </div>
    </div>
      <div id="refine_days" class="row panel">
        <h4 class="col-md-1 col-xs-2">Refine Days:</h4>
        <div class="col-xs-12 col-md-8">
        <div class="form-group col-xs-4">
          <input [(ngModel)]="all" (change)="select_days()"  type="radio" name="all" value="all_days"> All Days <br>
          <input [(ngModel)]="all" (change)="select_days()"  type="radio" name="all" value="all_weekdays"> All Weekdays <br>
          <input [(ngModel)]="all" (change)="select_days()" type="radio" name="all" value="all_weekends"> All Weekends <br>
          <input [(ngModel)]="all" (change)="select_days()" type="radio" name="all" value="all_none"> None <br>
        </div>
        <div class="form-group col-xs-4">
          <input [(ngModel)]="week.monday" (change)="select_days()" type="checkbox" name="mondays" value="mondays"> Mondays <br>
          <input [(ngModel)]="week.tuesday" (change)="select_days()" type="checkbox" name="tuesday" value="tuesdays"> Tuesdays <br>
          <input [(ngModel)]="week.wednesday" (change)="select_days()" type="checkbox" name="wednesdays" value="wednesdays"> Wednesdays <br>
          <input [(ngModel)]="week.thursday" (change)="select_days()" type="checkbox" name="thursdays" value="thursdays"> Thursdays <br>
        </div>
        <div class="form-group col-xs-4">
          <input [(ngModel)]="week.friday" (change)="select_days()" type="checkbox" name="fridays" value="fridays"> Fridays <br>
          <input [(ngModel)]="week.saturday" (change)="select_days()" type="checkbox" name="saturdays" value="saturdays"> Saturdays <br>
          <input [(ngModel)]="week.sunday" (change)="select_days()" type="checkbox" name="sundays" value="sundays"> Sundays <br>
        </div>
      </div>
      </div>
    <div id="change_price" class="row panel">
      <h4 class="col-md-1 col-xs-4">Change Price:</h4>
      <label class="col-xs-2 half-em-margin-top">
        <input [style.border-color]="getErrors('change_something') ? 'red': null" [(ngModel)]="newPrice" name="newPrice" type="number" min="0" class="form-control" />
      </label>
    </div>
    <div id="change_availabilty" class="row panel">
      <h4 class="col-md-1 col-xs-4">Change Availabilty:</h4>
      <label class="col-xs-2 half-em-margin-top">
        <input [style.border-color]="getErrors('change_something') ? 'red': null" [(ngModel)]="newAvailabilty" name="newAvailabilty" type="number" min="0" class="form-control" />
      </label>
    </div>
    <div *ngIf="getErrors('change_something')" class="col-xs-12">
    </div>
    <div id="update" class="row panel">
      <div class="btn-group btn-justified col-xs-8">
        <button (click)="reset()" class="btn btn-default">Cancel</button>
        <button (click)="update()" class="btn btn-success">Update</button>
      </div>
    </div>
  </form>
</div>
